.tx-rd{
    color: red;
}
.tx-bk{
    color: black;
}
.tx-sbe{
    color: rgb(0, 140, 255);
}
.bg-wh{
    background-color: white;
}
body{
    font-family: "微軟正黑體", sans-serif;
    overflow-x: hidden;
}
body a{
    text-decoration: none;
}
header{
    top: 0;
    z-index: 5;
}
.nav-item{
    font-size: 20px;
    padding: 40px 0;
    font-weight: 600;
}
.nav-link{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.logo{
    margin-left: 1rem;
    width: 100px;
    height: 100px;
    padding: 5px;
}
.mr-auto{
    margin: auto;
}
.title{
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 50px;
    color: rgb(154, 156, 51);
    padding-top: 150px;
}
.gap20{
    gap: 20px;
}
.about-content h3, .content-r h3{
    font-size: 20px;
    font-weight: 900;
}
.about-content p{
    font-size: 15px;
    line-height: 1.8;
}
.close-icon{
    font-size: 30px;
    line-height: 50px;
    right: 30px;
    top: 30px;
}
.edu-text{
    background-color: rgb(154, 156, 51);
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.menu{ 
    width: 100%;
    height: 100vh;  
}
.menu-l{
    width: 100vw;
    height: 100vh;
    background-color: rgb(154, 156, 51);
    padding: 20px;
    display: flex;
    flex-direction: column;  
}
.menu-r{
    width: 90px;
    height: 100vh;
    background-color: white; 
    right: 0;
    top: 0;
    z-index: 3;
}
.menu a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 2;
    margin-left: 10px;
    font-weight: 700;
}
.call-content{
    font-size: 30px;
    padding: 50px 0 100px;
}
.call-content div{
    margin: 0 20px;
}
.slider-area-item{
    background-attachment: fixed;
    background-position: 60% 25%;
    margin-top: 103px;
    height: calc(100vh - 103px);
    background-size: cover;
    background-repeat: no-repeat;
}
.sub-item-img-box{
    overflow: hidden;
}
.sub-item:hover .sub-item-img{
    transform: scale(1.5);
}
.sub-item:hover .sub-item-content{
    background-color: white;
}
.sub-item:hover .sub-item-content h3, .sub-item:hover .sub-item-content p{
    color: rgb(154, 156, 51);
}
.sub-item-img{
    height: 200px;
    transition: 0.5s;
    background-position: top;
    background-size: cover;
}
.sub-item-content{
    background-color: rgb(154, 156, 51);
    transition: 0.5s;
}
.sub-item-content h3{
    font-size: 20px;
    padding: 10px 0;
    font-weight: 700;
    color: white;
}
.sub-item-content p{
    font-size: 30px;
    padding: 15px 0;
    color: white;
}
.sub-item{
    cursor: pointer;
}
.links:hover .nav-link{
    color: #999;
}
.nav-item:hover .nav-link{
    color: #000;
}
.line{
    height: 1px;
    background-color: rgb(154, 156, 51);
}
.copyright-text{
    font-size: 0.85rem;
    letter-spacing: 2px;
    color: rgb(154, 156, 51);
}
.edu-content-box:hover .edu-img img{
    transform: scale(1.2);
}
.edu-content-box{
    overflow: hidden;
    height: 500px;
}
.edu-img img{
    transition: 0.5s;
    display: block;
}
.edu-img{
    overflow: hidden;
    height: 450px;
}
.bg-img{
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    border-bottom: rgb(154, 156, 51) 5px solid;
}
.adv-content-box{
    height: 350px;
    overflow: hidden;
}
.adv-content-box:hover .hover-overlay{
    opacity: 1;
    visibility: visible;
    top: 0px;
}
.hover-overlay {
    top: 350px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(154, 156, 51);
    visibility: hidden;
    transition: 0.5s;
}
.hover-text{
    padding: 150px 0;
}
.hover-text h3, .hover-text p{
    font-size: 18px;
    color: white;
}